.App-header {
  background-color: #282c34;
  font-size: 12px;
  height: 7vh;
  color: white;
  font-weight: 600;
}

.flex-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header-item {
  float: right;
  display: flex;
  flex-direction: row;
}

.header-item-logo {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a.active {
  background-color: white;
  color: black;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.username {
  background-color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 1;
  margin: 5px;
}

.username-circle span {
  display: block;
  color: black;
  padding: 50%;
  margin: -3em -50% -3em;
  position: relative;
  top: 1.5em;
  border: 1em solid transparent;
  white-space: nowrap;
}

.admin {
  border: 1.5px solid white;
  border-radius: 8%;
  padding: 7px 18px;
}

.comments-app {
  margin: 0px auto;
  width: 65%;
}

.comments-app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  margin-top: 7vh;
}

.user-comments {
  height: 500px;
}

.create-comment {
  border: 1.5px solid black;
  border-radius: 7%;
  padding: 10px 12px;
  background-color: black;
  color: white;
}

.comments-header {
  font-size: 18px;
  padding: 10px 12px;
}
