.App-header {
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.header-item-logo a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 55px;
  text-decoration: none;
}

.header-item {
  float: right;
  display: flex;
  flex-direction: row;
}

.header-item a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

a.active {
  background-color: white;
  color: black;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.header-item .button-element {
  padding: 5px 20px;
  margin: 10px 16px;
  border: 1px solid;
  border-radius: 8%;
}

.header-non-button-item{
  padding: 16px 10px;
}
.username {
  background-color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 8px 25px 8px 8px;
}

.username-circle span {
  display: block;
  color: black;
  padding: 50%;
  margin: -3em -50% -3em;
  position: relative;
  top: 1.3em;
  border: 1em solid transparent;
}

.admin {
  border: 1.5px solid white;
  border-radius: 8%;
  padding: 7px 18px;
}

.comments-app {
  margin: 0px auto;
  width: 80%;
}

.comments-app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.create-comment {
  border: 1.5px solid black;
  border-radius: 7%;
  padding: 10px 12px;
  background-color: black;
  color: white;
}

.comments-header {
  font-size: 18px;
  padding: 10px 12px;
}

.user-comment-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-comment {
  display: block;
  width: 23.6%;
  margin: 3px auto;
  border-radius: 5%;
  border: 2px solid rgb(244, 240, 247);
  box-shadow: 3px 3px rgb(212, 211, 211);
}

.user-comment.large-comment-box {
  display: block;
  width: 48%;
  margin: 5px auto;
  box-shadow: 3px 3px rgb(212, 211, 211);
}

.user-comment-header {
  background-color: rgb(244 229 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 5px;
}

.user-comment-name,
.user-comment-email {
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  padding: 8px 6px 8px 8px;
}

.large-comment-box .user-comment-name {
  width: 20%;
}

.large-comment-box .user-comment-email {
  width: 20%;
}

.user-comment-email.small-font {
  font-size: 12px;
}

.user-comment-body {
  height: 10vh;
  overflow: hidden;
  background-color: rgb(240, 250, 250);
  padding: 8px 6px 8px 8px;
}
.pagination {
  padding-left: 50px;
}
.page-number {
  padding: 5px;
}
