.App-header {
  background-color: #282c34;
  font-size: 13px;
  height: 8vh;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 8vh;
}
.header-logo {
  /* align-items: stretch; */
}
.header-items {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
  align-items: stretch;
  line-height: 100%;
}

.header-item {
  font-weight: bold;
  min-width: 30px;
  height: 100%;
  align-items: center;
  text-align: center;
  display: block;
  color: white;
}

.header-username {
  line-height: 100%;
  border-radius: 50%;
  color: black;
  text-align: center;
  background: white;
}

.active {
  background-color: white;
  color: black;
}
